body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #F8EDE3;
    padding: 0;
}

main {
    flex: 1;
}

.footer-bawah a {
    color: #eaeaea;
    gap: 6rem;
    font-size: 40px;
}

footer {
    background-color: #03346E !important;
    color: #eaeaea;
    padding: 20px 0;
    text-align: center;
}

.footer-atas {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
    font-size: 30px;
}

@media only screen and (max-width: 800px) {
    .footer-atas{
        font-size: 20px;
    }
}

.footer-atas div {
    margin: 0 10px;
}

.footer-bawah a {
    color: #eaeaea;
    margin: 40px;
    margin: 0 10px;
    font-size: 4rem;
    transition: color 0.3s ease;
}

.footer-bawah a:hover {
    color: #e0ccba;
}

.navbar .navbar-brand,
.navbar .nav-link {
    color: #eaeaea !important;
    font-size: 20px;
}

.navbar {
    background-color: #03346E !important;
    position: sticky;
    top: 0;
    z-index: 1030;
}

/* style.css */
.nav-link {
  color: #000; /* Warna teks default */
  text-decoration: none; /* Menghilangkan underline default */
  transition: all 0.3s ease; /* Animasi halus untuk efek hover */
}

.nav-link:hover {
  color: #fff; /* Warna teks saat di-hover */
  text-decoration: underline; /* Menambahkan underline saat di-hover */
  text-decoration-color: #fff; /* Mengatur warna underline menjadi putih */
}


.navbar img{
    width: 80px;
    height: 80;
    border-radius: 80%;
    margin-right: 30px;
}

.ratings i {
    font-size: 16px;
    color: red;
}

.strike-text {
    color: red;
    text-decoration: line-through;
}

.product-image {
    width: 100%;
}

.dot {
    height: 7px;
    width: 7px;
    margin-left: 6px;
    margin-right: 6px;
    margin-top: 3px;
    background-color: blue;
    border-radius: 50%;
    display: inline-block;
}

.spec-1 {
    color: #938787;
    font-size: 15px;
}

h5 {
    font-weight: 400;
}

.para {
    font-size: 16px;
}

#service img{
    width:300px;
    height: 250px;
}